body {
    background-color: linen;
}
.all {
    max-width: 400px;
    max-height: 475px;
}
.ima {
   width: 400px;
   height: 475px;
    position: relative;
    overflow: hidden;

    

    img {
        margin: 0 -100px -100px -190px;
        }
}

.move {
    max-width: 400px;
    max-height: 475px;
    font-family: Yu Gothic UI;
    position: absolute;
    margin-top: -100px;
    transition: margin 3s;
    &:hover {
        margin-top: -200px;
    }
    h2 {
        color: #FF6836;
    }
    .texte {
        padding: 30px;
        background-color: white;
        margin-top: -145px;
    }
    p { 
        color: #817974;
       }
}
.rectangle {
    position: relative;
    margin-top: -10px;
}
// je suis pas sûre mais j'essaye de faire du Sass...
.cercle {
    position: fixed;
    left: 305px;
    top: 10px;
    }

.static {
    background-color: white;
    color: #817974;
    font-family: Yu Gothic UI;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 50px;
    z-index: 1;
    position: sticky;

    .timer {
        width: 13px;
        height: 13px;
    }
    .coms {
        width: 13px;
        height: 13px;
    }
}