.ima {
    max-width: 400px;
    max-height: 475px;
    position: relative;
    overflow: hidden;
    img {
        margin: 0 -100px -100px -190px;
    }
}

.move {
    max-width: 400px;
    max-height: 475px;
    font-family: Yu Gothic UI;
    h2 {
        color: #FF6836;
    }
    .texte {
        padding: 30px;
    }
}

.rectangle {
    
}

.cercle {
    position: absolute;
    left: 310px;
    top: 8px;
    }